:root {
    --c1: #0D1B2A; /* Darker */
    --c2: #1B263B; /* Dark */
    --c3: #415A77; /* Accent */
    --c4: #778DA9; /* Light accent */
    --c5: #E0E1DD; /* Text */
}

html, body {
    background-color: var(--c1);
    font-family: monospace;
    color: var(--c5);
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
    width:  100%;
    overflow: visible;
    overflow-x: hidden;
    font-weight: bolder;
}

button {cursor: pointer}

* {
    font-family: inherit;
    outline: none;
}

::selection {background-color: rgba(56, 56, 56, 0.25)}

*::-webkit-scrollbar {width: 8px;}
*::-webkit-scrollbar-track {background: var(--c2);}
*::-webkit-scrollbar-thumb {background: var(--c2);border-right: 2px solid var(--c3);border-radius: 10px;}
*::-webkit-scrollbar-thumb:hover {background-color: var(--c3);}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}input[type="number"] {-moz-appearance: textfield;}
input[type="password"]::-ms-reveal,input[type="password"]::-ms-clear,input[type="password"]::-webkit-credentials-auto-fill-button,input[type="password"]::-webkit-password-reveal-button {display:none !important;}

/**/

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.navbar {
    width: 100%;
    height: 65px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--c2);
    border-bottom: 10px double var(--c1);
    outline: 3px solid var(--c2);
    box-shadow: 0px 4px 13px 0px var(--c1);
    z-index: 1293810298309123;
}

.content {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    background-color: var(--c1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.section {
    /* height: 72vh; */
    height: 500px;
    margin-top: 100px;
    padding: 16px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12em;
    text-shadow: 7px 5px var(--c4);
    user-select: none;
    outline: 5px solid var(--c2);
    padding-bottom: 20px;
    text-align: center;
}

.info {
    width: 82.5%;
    background-color: var(--c3);
    border-radius: 10px;
    border: 5px solid var(--c1);
    outline: 4px solid var(--c3);
}

.wall {
    width: 96%;
    background-color: var(--c5);
    border-top: 5px solid    var(--c1);
    border-bottom: 5px solid var(--c1);
    outline: 15px solid var(--c5) !important;
    color: var(--c1);
    font-size: 22px;
    padding: 0% 2%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 360px;
}

.wall_textContent {
    width: 100%;
    height: 75%;
    white-space: break-spaces;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.miniwall {
    width: 96%;
    height: 11vh;
    background-color: var(--c5);
    border-top: 4px solid    var(--c1);
    border-bottom: 5px solid var(--c1);
    outline: 5px solid var(--c5) !important;
    color: #1B263B;
    letter-spacing: 4px;
    font-size: 42px;
    padding: 0% 2%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 1px var(--c4);
}

.coolInfo {
    width: 97%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.coolInfo > div{
    background-color: var(--c3);
    border-radius: 10px;
    border: 5px solid var(--c1);
    outline: 4px solid var(--c3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.ci_small {
    width: 24%;
}
.ci_medium {
    width: 44%;
}
.ci_large {
    width: 71%;
}

.ci_header {
    text-align: center;
    height: 9vh;
    margin-top: 0;
    padding: 0;
    border-bottom: 5px solid var(--c2);
    color: var(--c5);
    font-weight: bolder;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ci_textContent {
    width: 90%;
    text-align: justify;
    color: var(--c5);
    font-size: 1.2em;
}

.ci_content {
    width: 100%;
    height: max-content;
}

.ci_d_title {
    color: var(--c1);
    font-size: 1.9em;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 3px solid var(--c1);
    border-radius: 5px;
    padding: 0;
    margin: 1vh 0 3vh 0;
    width: 100%;
}

.ci_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 63vh;
    overflow: overlay;
}

.ci_details::-webkit-scrollbar-track {background-color: transparent;}
.ci_details::-webkit-scrollbar-thumb {background-color: var(--c3);}
.ci_details::-webkit-scrollbar-thumb:hover {background-color: var(--c2);}

.ci_details > span {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

.smallText {
    font-size: 16px !important;
    font-weight: bold;
    text-shadow: 2px 1px var(--c4);
    margin-top: 16px;
}

.aloneText {
    padding-top: 15vh;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 2px 1px var(--c4);
    text-align: center;
    width: 95%;
    line-height: 4.25vh;
}

iframe {
    width: 100%;
    height: 100%;
}

.space {
    height: 5vh;
}

a {
    font-size: 1.3em;
    color: var(--c5);
    text-shadow: 1.5px 1.5px 3px var(--c2);
}

c {
    font-style: italic;
    font-weight: bold;
}

.textImg {
    white-space: pre;
    letter-spacing: -1px;
    line-height: 12px;
    font-size: 14px;
    text-align: center;
}

.image {
    width: 100%;
}

.wide {
    width: 130%;
}

.cover {
    background-size: cover;
}