:root {
    --c1: 13, 27, 42;   /* Darker */
    --c2: 27, 38, 59;   /* Dark */
    --c3: 65, 90, 119;  /* Accent */
    --c4: 119, 141, 169;/* Light accent */
    --c5: 224, 225, 221;/* Text */
}

html, body {
    background-color: rgb(var(--c1));
    font-family: monospace;
    color: rgb(var(--c5));
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
    width:  100%;
    overflow: visible;
    overflow-x: hidden;
    font-weight: bolder;
}

button {cursor: pointer}

* {
    font-family: inherit;
    transition: 0.4s all;
    outline: none;
}

::selection {background-color: rgba(56, 56, 56, 0.35)}

*::-webkit-scrollbar {width: 10px;}
*::-webkit-scrollbar-track {background: rgb(var(--c2));}
*::-webkit-scrollbar-thumb {background: rgb(var(--c2));border-right: 2px solid rgb(var(--c3));border-radius: 10px;}
*::-webkit-scrollbar-thumb:hover {background-color: rgb(var(--c3));}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}input[type="number"] {-moz-appearance: textfield;}
input[type="password"]::-ms-reveal,input[type="password"]::-ms-clear,input[type="password"]::-webkit-credentials-auto-fill-button,input[type="password"]::-webkit-password-reveal-button {display:none !important;}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navbar {
    width: 100%;
    height: 65px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(var(--c2));
    border-bottom: 10px double rgb(var(--c1));
    outline: 3px solid rgb(var(--c2));
    box-shadow: 0px 4px 13px 0px rgb(var(--c1));
    z-index: 1293810298309123;
}

.content {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    background-color: rgb(var(--c1));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(90deg, rgb(var(--c1)), rgb(var(--c2), 0.8), rgb(var(--c1)));
    position: relative;
}

.section {
    height: 500px;
    margin-top: 100px;
    padding: 16px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12em;
    text-shadow: 7px 5px rgb(var(--c4));
    user-select: none;
    outline: 5px solid rgb(var(--c2)) !important;
    padding-bottom: 20px;
    text-align: center;
}

.info {
    width: 82.5%;
    background-color: rgb(var(--c3));
    border-radius: 10px;
    border: 5px solid rgb(var(--c1));
    outline: 4px solid rgb(var(--c3));
}

.wall {
    width: 96%;
    background-color: rgb(var(--c5));
    border-top: 5px solid    rgb(var(--c1));
    border-bottom: 5px solid rgb(var(--c1));
    outline: 15px solid rgb(var(--c5)) !important;
    color: rgb(var(--c1));
    font-size: 22px;
    padding: 0% 2%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 360px;
}

.wall_textContent {
    width: 100%;
    height: 75%;
    white-space: break-spaces;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    user-select: text;
}

.miniwall {
    width: 96%;
    height: 11vh;
    background-color: rgb(var(--c5));
    border-top: 4px solid    rgb(var(--c1));
    border-bottom: 5px solid rgb(var(--c1));
    outline: 5px solid rgb(var(--c5)) !important;
    color: #1B263B;
    letter-spacing: 4px;
    font-size: 42px;
    padding: 0% 2%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 1px rgb(var(--c4));
    white-space: nowrap;
}

.coolInfo {
    width: 97%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

.coolInfo > div {
    background-color: rgb(var(--c3));
    border-radius: 10px;
    border: 5px solid rgb(var(--c1));
    outline: 4px solid rgb(var(--c3));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.ci_small {
    width: 24%;
}
.ci_medium {
    width: 44%;
}
.ci_large {
    width: 71%;
}

.ci_header {
    text-align: center;
    height: 9vh;
    margin-top: 0;
    padding: 0;
    border-bottom: 5px solid rgb(var(--c2));
    color: rgb(var(--c5));
    font-weight: bolder;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
}

.ci_textContent {
    width: 90%;
    text-align: justify;
    color: rgb(var(--c5));
    font-size: 1.2em;
    overflow: hidden;
    overflow-y: scroll;
}

.ci_content {
    width: 100%;
    height: max-content;
}

.ci_d_title {
    color: rgb(var(--c1));
    font-size: 1.9em;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 3px solid rgb(var(--c1));
    border-radius: 5px;
    padding: 0;
    margin: 1vh 0 3vh 0;
    width: 100%;
}

.ci_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 63vh;
    overflow: overlay;
}

.ci_textContent::-webkit-scrollbar-track, .ci_details::-webkit-scrollbar-track {background-color: transparent;}
.ci_textContent::-webkit-scrollbar-thumb, .ci_details::-webkit-scrollbar-thumb {background-color: transparent;border: none;}
.ci_textContent::-webkit-scrollbar-thumb:hover, .ci_details::-webkit-scrollbar-thumb:hover {background-color: rgb(var(--c2));}

.ci_details > span {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

.smallText {
    font-size: 16px !important;
    font-weight: bold;
    text-shadow: 2px 1px rgb(var(--c4));
    margin-top: 16px;
}

.aloneText {
    padding-top: 12vh;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 1px rgb(var(--c4));
    text-align: center;
    width: 95%;
    line-height: 4.25vh;
}

iframe {
    width: 100%;
    height: 100%;
}

.space {
    height: 5vh;
}

a {
    font-size: 1.3em;
    color: rgb(var(--c5));
    text-shadow: 1.5px 1.5px 3px rgb(var(--c2));
}

c {
    font-style: italic;
    font-weight: bold;
}

#textImg {
    white-space: pre;
    letter-spacing: -1px;
    line-height: 12px;
    font-size: 14px;
    text-align: center;
    display: block;
}

.image {
    width: 100%;
}

.wide {
    width: 130%;
}

.cover {
    background-size: cover;
    background-position: center;
}

.navbar > a {
    letter-spacing: 1px;
    padding: 5px 10px;
    font-size: 1.65em;
    font-weight: bold;
    background-color: rgb(var(--c2));
    color: rgb(var(--c5));
    border: none;
    border-bottom: 3px solid rgb(var(--c4));
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 85px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(var(--c2));
    border-top: 10px double rgb(var(--c1));
    outline: 3px solid rgb(var(--c2));
    box-shadow: 0px 4px 13px 0px rgb(var(--c1));
    text-align: center;
    z-index: 1293810298309123;
}

.anchored {
    scroll-margin-top: 100px;
}

.aboutFlex {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46%;
    height: 100%;
    white-space: nowrap;
    text-align: start;
}

.aboutSection > span {
    white-space: normal;
    text-align: center;
}

p {
    text-align: center;
    white-space: normal;
}

.angelicText {
    z-index: 10;
    text-shadow: 0 0 3px #f0f8ffbd;
}

.angelicBox {
    transition: 1s all;
    box-shadow: 0 0 10px 2px rgb(var(--c5));
}

.verySmooth {
    transition: 1s all;
}

#startCDEPreview {
    position: absolute;
    top: 50%;
    padding: 2%;
    font-size: 1.4em;
    border-radius: 8px;
    border: 3.5px solid rgb(var(--c2));
    color: rgb(var(--c2));
    background-color: rgb(var(--c4));
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    outline: 3px solid rgb(var(--c4));
    box-shadow: 0 0 8px 0px rgb(var(--c5));
}
#startCDEPreview:hover {
    filter: brightness(1.5);
    box-shadow: 0 0 80px 0px rgb(var(--c5));
}
#startCDEPreview:active {
    filter: brightness(2.5);
    box-shadow: 0 0 240px 8px rgb(var(--c5));
}

.ci_header_left {
    position: absolute;
    left: 1.5%;
    top: 20;
    opacity: 0.35;
    cursor: pointer;
}
.ci_header_left:not([disabled]):hover, .CDEPreviewSpeedParent:not([disabled]):hover {
    opacity: 1 !important;
}

.ci_header_right {
    position: absolute;
    right: 1%;
    top: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-size: 0.85em;
    letter-spacing: 1.5px;
}

#inStasisImagesGoRight, #inStasisImagesGoLeft {
    opacity: 0.35;
    cursor: pointer;
}

#inStasisImagesGoRight:hover, #inStasisImagesGoLeft:hover {
    opacity: 1 !important;
}

.CDEPreviewSpeedParent {
    position: absolute;
    right: 2%;
    top: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 0.85em;
    letter-spacing: 1.5px;
}

#CDEPreviewSpeed{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: rgb(var(--c5), 0.15);
    border-radius: 20px;
    margin-top: 5px;
}
#CDEPreviewSpeed::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:  16px; 
    height: 16px;
    background-color: rgb(var(--c5), .7); 
    border-radius: 100%;
}

#CDEPreviewSpeed::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px;
    background-color: #04AA6D; 
}

#CDEPreviewSpeedValueDisplay {
    font-size: 0.8em;
    margin-top: 2px;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(var(--c1));
    outline: 8px solid rgb(var(--c2));
    color: #1B263B;
    letter-spacing: 0px;
    font-size: 0.975em;
    padding: 1% 0;
    margin-top: 5vh;
    justify-content: center;
}

.linksContent {  
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
}

.linksContent > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.linksContent > div > span {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}
.linksContent > div > span > img {
    margin-right: 20px;
}

#inStasisImages {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(1.5px) sepia(0.15) grayscale(0.15) brightness(0.75);
}

.textUnderlay {
    background-color: rgb(var(--c1), 0.4);
    border-radius: 20px;
    padding: 1% 2%;
    box-shadow: 0 0 4px 2px rgb(var(--c1), 0.35);
}

.imageDescription {
    position: absolute;
    color: rgb(var(--c5));
    text-align: center;
    opacity: 0.65;
    cursor: default;
}
.imageDescription:hover {
    opacity: 1;
}

.aloneText::selection {
    background-color: rgb(var(--c5), 0.65);
}

.highlightable:hover {
    filter: brightness(1.13);
}


#dvdEditor {
    width: 90%;
    background: rgb(var(--c3), 0.3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid rgb(var(--c2));
    height: 0px;
    opacity: 0;
}

#closeDvdEditor:not([disabled]) {
    cursor: pointer;
}

#dvdTextInput {
    cursor: default;
    background-color: rgb(var(--c1));
    outline: none;
    border: 3px solid rgb(var(--c2));
    resize: horizontal;
    max-width: 300px;
    height: 90%;
    width: 20%;
    color: rgb(var(--c5));
    min-width: 150px;
}
#dvdTextInput:not([disabled]) {
    cursor: text;
}

.floatingBorder {
    transition: 0.4s all;
    position: absolute !important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    z-index: 1 !important;
    opacity: 0;
}






/* SMALLER DEVICES */
@media (max-width: 702px) {

    .floatingBorder {
        display: none !important;
    }

    .navbar > a {
        padding: 3px 6px;
        font-size: 1.35em;
    }

    .header {
        font-size: 8em;
    }

    .links {
        justify-content: flex-end;
    }

    .linksContent {
        width: 92%;
        justify-content: flex-start;
    }

    .linksContent > div {
        width: 42%;
        font-size: 0.85em;
    }

    .linksContent img {
        width: 28px;
    }

    .linksContent > div > span > img {
        margin-right: 10px;
    }

    .miniwall {
        font-size: 1.9em;
    }

    .coolInfo {
        flex-direction: column;
        height: 800px;
        margin-top: 10px;
    }

    .coolInfo > div {
        width: 97.5%;
        margin: 0;
        margin-bottom: 15px;
    }

    .ci_details {
        height: 35vh;
    }

    .ci_header {
        height: 6vh;
    }

    .ci_small {
        height: 40%;
    }

    .ci_medium {
        height: 50%;
    }

    .ci_large {
        height: 60%;
    }

    .ci_textContent {
        font-size: 0.9em;
        overflow: overlay;
    }

    c {
        font-size: 0.9em;
    }

    .mobileInvertFlex {
        flex-direction: column-reverse;
    }

    .imageDescription {
        opacity: 0;
    }

    #toggleCDEPreviewAudio, .CDEPreviewSpeedParent {
        display: none;
    }

    .ci_header_right {
        top: 2%;
    }

    .mobileSpacing {
        margin-top: 80px;
    }

    .aboutFlex {
        flex-direction: column;
        align-items:baseline;
        overflow: hidden;
        overflow-y: overlay;
    }

    .aboutFlex::-webkit-scrollbar-track {
        background: transparent;
    }

    .aboutSection {
        width: 100%;
        margin-bottom: 50px;
        justify-content: center;
        height: 120%;
    }
}

@media (max-width: 360px) {
    .navbar > a {
        padding: 3px 5px;
        font-size: 1.25em;
    }

    .miniwall {
        font-size: 1.3em;
    }

    .header {
        font-size: 7em;
    }

    .linksContent img {
        width: 25px;
    }

    .linksContent > div {
        width: 40%;
        font-size: 0.75em;
    }
}